*{
    margin: 0;
    padding: 0;
}
.map{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#select{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    z-index: 1;  
}
#country-list{
    width: 250px;
    height: 80px;
    margin-top: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 22pt;
    opacity: 0.6;
    font-weight: bolder;
}

.data-container{
    position: fixed;
    bottom: 0px;
    color: #fff;
    margin-left: 10%;
    z-index: 1;    
    display: none;
}
#chart{
    position: fixed;
    bottom: 0;
    margin-left: 40%;
    z-index: 1; 
    width: 500px;
    height: 400px;
}
